<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="https://i.imgur.com/iuVlN0k.png">
  <title>FastDrive</title>
</head>
<body id="homePage">
  <%- include('./partials/_navbar.ejs') %>
  <div class="main">
    
    <h1>Welcome to <span id="allText">FAST<span id="driveText">DRIVE</span></span></h1>
    <div id="linkBtn">
  <% if(user) { %>
  <a href="/cars">Explore Cars</a>
    
  <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
  <% } %>
</div>
</div>
  
</body>
</html>
