<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="https://i.imgur.com/iuVlN0k.png">
    <title>Add a New Car</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    
    <form action="/cars" method="POST" id="carForm">
        <h1>Add a New Car</h1>
        <div class="carInputs">
            <label for="name">Car Name:</label>
            <input type="text" name="name" id="name" required>
        </div>

        <div class="carInputs">
            <label for="price">Price:</label>
            <input type="number" min="0" step="any" name="price" id="price" required>
        </div>

        <div class="carInputs">
            <label for="status">Status:</label>
            <input type="checkbox" name="status" id="status">
        </div>

        <div class="carInputs">
            <label for="imageUrl">Image URL:</label>
            <input type="text" name="imageUrl" id="imageUrl" required>
        </div>

        <div class="carInputs">
            <label for="imageAlt">Image ALT:</label>
            <input type="text" name="imageAlt" id="imageAlt" required>
        </div>

        <div class="carInputs">
            <label for="pickupDate">Pickup Date:</label>
            <input type="date" name="pickupDate" id="pickupDate" >
        </div>
      
            <div class="carInputs">
                <label for="returnDate">Return Date:</label>
                <input type="date" name="returnDate" id="returnDate" >
        </div>

        <div class="carInputs">
            <label for="description">Description:</label>
            <textarea name="description" id="description" required></textarea>
        </div>

        <button type="submit">Add Car</button>
    </form>
</body>
</html>